{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% block body %}

    {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}


    <div class="container index-observation-admin">

        <h2>Observations</h2>

        <div id="observation_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            {% if observations is defined and observations|length > 0 %}
                <div class="table-responsive">
                    <table id="observation" class="table table-hover dataTable" role="grid" aria-describedby="observation_info">
                        <thead>
                        <tr role="row">
                            <th>Id</th>
                            <th>Date</th>
                            <th>Quantité</th>
                            <th>Photo</th>
                            <th>Espèce</th>
                            <th>Lieu</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for observation in observations %}
                            <tr role="row" class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                <td>
                                    <a href="{{ path('admin_observation_show', { 'id': observation.id }) }}">{{ observation.id }}</a>
                                </td>
                                <td>{% if observation.dateAt %}{{ observation.dateAt|date('d/m/Y') }}{% endif %}</td>
                                <td>{{ observation.quantity }}</td>
                                <td>
                                    {% if observation.image is defined and observation.image is not null %}
                                        <img src="{{ observation.image.url | imagine_filter('my_thumb') }}" />
                                    {% else %}
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a target="_blank" href="https://inpn.mnhn.fr/espece/cd_nom/{{ observation.taxref.cdNom }}"> {{ observation.taxref.nomVern }} </a>
                                </td>
                                <td>
                                    <a href="https://www.google.fr/maps/@{{ observation.latitude }},{{ observation.longitude }},14z" target="_blank">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> Localiser
                                    </a>
                                </td>
                                <td>
                                    <i class="fa {{ observation.status.icon }}" aria-hidden="true"></i>
                                    {{ observation.status.name }}
                                </td>
                                <td>
                                    <a href="{{ path('admin_observation_show', { 'id': observation.id }) }}" title="Voir l'observation" class="btn btn-info btn-xs">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a href="{{ path('admin_observation_edit', { 'id': observation.id }) }}" title="Editer l'observation" class="btn btn-warning btn-xs">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a href="{{ path('admin_observation_moderate', { 'id': observation.id }) }}" title="Modérer l'observation" class="btn btn-primary btn-xs">
                                        <i class="fa fa-wrench" aria-hidden="true"></i>
                                    </a>
                                    <a href="{{ path('admin_observation_delete', { 'id': observation.id }) }}" title="Supprimer l'observation" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Quantité</th>
                            <th>Photo</th>
                            <th>Espèce</th>
                            <th>Lieu</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            {% else %}
                <p> Pas d'observations. </p>
            {% endif %}
        </div>



        <!-- The export button -->
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% if observations is defined and observations|length > 0 %}
                <a class="btn btn-info btn-export" href="{{ path('observation_export') }}">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Exporter
                </a>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}



{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('#observation').DataTable({
                "responsive": false,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "language": {
                    "processing":     "Traitement en cours...",
                    "search":         "Rechercher&nbsp;:",
                    "lengthMenu":    "Afficher _MENU_ &eacute;l&eacute;ments",
                    "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "infoPostFix":    "",
                    "loadingRecords": "Chargement en cours...",
                    "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "emptyTable":     "Aucune donnée disponible dans le tableau",
                    "paginate": {
                        "first":      "Premier",
                        "previous":   "Pr&eacute;c&eacute;dent",
                        "next":       "Suivant",
                        "last":       "Dernier"
                    },
                    "aria": {
                        "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        });
    </script>
{% endblock %}