{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% block body %}

    {% include 'NBGraphicsAdminBundle:Admin:menu.html.twig' %}

    <div class="actions">
        <a href="{{ path('observation_new') }}" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Ajouter une nouvelle observation
        </a>
    </div>

    <div class="box">
        <div class="box-body">
            <div id="observation_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% if observations is defined and observations|length > 0 %}
                            <table id="observation" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="observation_info">
                                <thead>
                                <tr role="row">
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Quantité</th>
                                    <th>Photo</th>
                                    <th>Espèce</th>
                                    <th>Lieu</th>
                                    <th>Status</th>
                                    <th>Date de création</th>
                                    <th>Date de modification</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for observation in observations %}
                                    <tr role="row" class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                        <td><a href="{{ path('observation_show', { 'id': observation.id }) }}">{{ observation.id }}</a></td>

                                        <td>{% if observation.dateAt %}{{ observation.dateAt|date('d/m/Y') }}{% endif %}</td>
                                        <td>{{ observation.quantity }}</td>
                                        <td><img src="{{ observation.image }}" /></td>
                                        <td> [nom espece] </td>
                                        <td>{{ observation.latitude }},{{ observation.longitude }}</td>
                                        <td>
                                            <i class="fa {{ observation.status.icon }}" aria-hidden="true"></i>
                                            {{ observation.status.name }}
                                        </td>
                                        <td>{% if observation.createdAt %}{{ observation.createdAt|date('d/m/Y H:i:s') }}{% endif %}</td>
                                        <td>{% if observation.updatedAt %}{{ observation.updatedAt|date('d/m/Y H:i:s') }}{% endif %}</td>
                                        <td>
                                            <a href="{{ path('observation_show', { 'id': observation.id }) }}" class="btn btn-info btn-xs">
                                                <i class="fa fa-eye" aria-hidden="true"></i> Voir
                                            </a>
                                            <a href="{{ path('observation_edit', { 'id': observation.id }) }}" class="btn btn-warning btn-xs">
                                                <i class="fa fa-pencil" aria-hidden="true"></i> Modifier
                                            </a>
                                            <a href="{{ path('observation_delete', { 'id': observation.id }) }}" class="btn btn-danger btn-xs">
                                                <i class="fa fa-trash" aria-hidden="true"></i> Supprimer
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Quantité</th>
                                    <th>Photo</th>
                                    <th>Espèce</th>
                                    <th>Lieu</th>
                                    <th>Status</th>
                                    <th>Date de création</th>
                                    <th>Date de modification</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        {% else %}
                            <p> Pas d'observations. </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('#observation').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "language": {
                    "processing":     "Traitement en cours...",
                    "search":         "Rechercher&nbsp;:",
                    "lengthMenu":    "Afficher _MENU_ &eacute;l&eacute;ments",
                    "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "infoPostFix":    "",
                    "loadingRecords": "Chargement en cours...",
                    "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "emptyTable":     "Aucune donnée disponible dans le tableau",
                    "paginate": {
                        "first":      "Premier",
                        "previous":   "Pr&eacute;c&eacute;dent",
                        "next":       "Suivant",
                        "last":       "Dernier"
                    },
                    "aria": {
                        "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        });
    </script>
{% endblock %}