{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block title %}
    Association Nos Amis Les Oiseaux - Accueil
{% endblock %}

{% block body %}
    <div class="home-page-wrapper">
        <video class="video" autoplay muted loop>
            <source src="{{ asset('video/inter.mp4') }}" type="video/mp4">
            <source src="{{ asset('video/NAO_theora.ogg') }}" type="video/ogg">
        </video>
        <h2>Notre programme d'observation</h2>
        <p>
          {% if app.user %}
              <a href="{{ path('nb_graphics_front_site_submitobservation') }}">
                  Observer
              </a>
          {% else %}
          <a href="{{ path('fos_user_registration_register') }}">
              Participer
          </a>
          {% endif %}
        </p>
    </div>

    <main class="home-page-main">
        <h2>Le plus ambitieux programme d'observation jamais créé.</h2>
        <div class="home-page-desktop">
            <section>
                <a href="{{ path('nb_graphics_front_site_interactivewebmap') }}">
                    <svg class="svg-homepage" viewBox="0 0 20 20">
                        <path d="M18.092,5.137l-3.977-1.466h-0.006c0.084,0.042-0.123-0.08-0.283,0H13.82L10,5.079L6.178,3.671H6.172c0.076,0.038-0.114-0.076-0.285,0H5.884L1.908,5.137c-0.151,0.062-0.25,0.207-0.25,0.369v10.451c0,0.691,0.879,0.244,0.545,0.369l3.829-1.406l3.821,1.406c0.186,0.062,0.385-0.029,0.294,0l3.822-1.406l3.83,1.406c0.26,0.1,0.543-0.08,0.543-0.369V5.506C18.342,5.344,18.242,5.199,18.092,5.137 M5.633,14.221l-3.181,1.15V5.776l3.181-1.15V14.221z M9.602,15.371l-3.173-1.15V4.626l3.173,1.15V15.371z M13.57,14.221l-3.173,1.15V5.776l3.173-1.15V14.221z M17.547,15.371l-3.182-1.15V4.626l3.182,1.15V15.371z">

                        </path>
                    </svg>
                </a>

                    <h3>La carte interactive</h3>
                    <p>
                        Retrouvez l'intégralité des observations sur une carte interactive consultable directement en ligne.
                    </p>
            </section>
            <section>
                <a href="{{ path('nb_graphics_front_site_submitobservation') }}">
                    <svg class="svg-homepage" viewBox="0 0 20 20">
                        <path d="M17.218,2.268L2.477,8.388C2.13,8.535,2.164,9.05,2.542,9.134L9.33,10.67l1.535,6.787c0.083,0.377,0.602,0.415,0.745,0.065l6.123-14.74C17.866,2.46,17.539,2.134,17.218,2.268 M3.92,8.641l11.772-4.89L9.535,9.909L3.92,8.641z M11.358,16.078l-1.268-5.613l6.157-6.157L11.358,16.078z">

                        </path>
                    </svg>
                </a>

                    <h3>Transmettez vos observations facilement</h3>
                    <p>
                        A partir d'une simple fiche, transmettez rapidement et facilement vos observations que vous soyez sur mobile ou sur votre ordinateur.
                    </p>
            </section>
            <section>
                <a href="{{ path('nb_graphics_front_site_researchprogramm') }}">
                    <svg class="svg-homepage" viewBox="0 0 20 20">
                        <path fill="none" d="M12.173,16.086c0.72,0,1.304-0.584,1.304-1.305V6.089c0-0.72-0.584-1.304-1.304-1.304c-0.721,0-1.305,0.584-1.305,1.304v8.692C10.868,15.502,11.452,16.086,12.173,16.086z M11.738,6.089c0-0.24,0.194-0.435,0.435-0.435s0.435,0.194,0.435,0.435v8.692c0,0.24-0.194,0.436-0.435,0.436s-0.435-0.195-0.435-0.436V6.089zM16.52,16.086c0.72,0,1.304-0.584,1.304-1.305v-11.3c0-0.72-0.584-1.304-1.304-1.304c-0.721,0-1.305,0.584-1.305,1.304v11.3C15.215,15.502,15.799,16.086,16.52,16.086z M16.085,3.481c0-0.24,0.194-0.435,0.435-0.435s0.435,0.195,0.435,0.435v11.3c0,0.24-0.194,0.436-0.435,0.436s-0.435-0.195-0.435-0.436V3.481z M3.48,16.086c0.72,0,1.304-0.584,1.304-1.305v-3.477c0-0.72-0.584-1.304-1.304-1.304c-0.72,0-1.304,0.584-1.304,1.304v3.477C2.176,15.502,2.76,16.086,3.48,16.086z M3.045,11.305c0-0.24,0.194-0.435,0.435-0.435c0.24,0,0.435,0.194,0.435,0.435v3.477c0,0.24-0.195,0.436-0.435,0.436c-0.24,0-0.435-0.195-0.435-0.436V11.305z M18.258,16.955H1.741c-0.24,0-0.435,0.194-0.435,0.435s0.194,0.435,0.435,0.435h16.517c0.24,0,0.435-0.194,0.435-0.435S18.498,16.955,18.258,16.955z M7.826,16.086c0.72,0,1.304-0.584,1.304-1.305V8.696c0-0.72-0.584-1.304-1.304-1.304S6.522,7.977,6.522,8.696v6.085C6.522,15.502,7.106,16.086,7.826,16.086z M7.392,8.696c0-0.239,0.194-0.435,0.435-0.435s0.435,0.195,0.435,0.435v6.085c0,0.24-0.194,0.436-0.435,0.436s-0.435-0.195-0.435-0.436V8.696z">

                        </path>
                    </svg>
                </a>

                    <h3>Suivez vos observations sur votre dashboard.</h3>
                    <p>
                        Votre dashboard simplifie la gestion de observations. Vous pouvez visualiser en un rapide coup d'oeil lesquelles ont été acceptées et celles à préciser.
                    </p>
            </section>
        </div>
    </main>
{% endblock %}
