{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <main class="observation-form-container">
    <h2>
        Vous souhaitez soumettre une observation ?
    </h2>
        {{ form_start(observationForm) }}
            {{ form_row(observationForm.quantity) }}
            {{ form_row(observationForm.matureStage) }}
            {{ form_row(observationForm.plumage) }}
            {{ form_row(observationForm.nidification) }}
            {{ form_row(observationForm.dateAt) }}
            {{ form_row(observationForm.hourAt) }}
            {{ form_row(observationForm.image) }}
        <h3>
            Choix 1 : Je ne connais pas les coordonées GPS, mais je connais l'adresse
        </h3>
        <div class="form-group">
            <label for="address">Adresse</label>
            <input type="text" id="address" name="obs_address" class="form-control">
        </div>
        <h3>
            Choix 2 : je souhaite me géolocaliser
        </h3>
            {{ form_row(observationForm.latitude) }}
            {{ form_row(observationForm.longitude) }}

        <div class="form-group">
            <a id="localize" name="obs_button" class="btn btn-info">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Me localiser
            </a>
        </div>

        <div class="form-group">
            <div id="map"></div>
        </div>

            {{ form_row(observationForm.departement) }}
            {{ form_row(observationForm.comment) }}

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check" aria-hidden="true"></i> Envoyer mon observation
        </button>
        {{ form_end(observationForm) }}
    </main>

    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv4cK5Ln6Z5EEtoY2gT4zf-J6rVgmnqtw&callback=initMap" async defer></script>
{% endblock %}

