{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <main class="container observation-form-container">
    <h2>
        Vous souhaitez soumettre une observation ?
    </h2>
        {{ form_start(observationForm) }}
            {{ form_row(observationForm.taxref) }}
            {{ form_row(observationForm.quantity) }}
            {{ form_row(observationForm.matureStage) }}
            {{ form_row(observationForm.plumage) }}
            {{ form_row(observationForm.nidification) }}
            {{ form_row(observationForm.dateAt) }}
            {{ form_row(observationForm.hourAt) }}
            {{ form_row(observationForm.image) }}
        <h3>
            <span class="step_data" style="display: inline-block; background: #374a5b; width: 40px; height: 40px; line-height: 41px; text-align: center; border-radius: 50%; font-size: .7em;
    font-weight: bold; color: #ffffff;"> 1 </span> Je connais l'adresse de l'observation
        </h3>
        <div class="form-group">
            <label for="address">Adresse</label>
            <input type="text" id="address" name="obs_address" class="form-control">
        </div>
        <h3>
            <span class="step_data" style="display: inline-block; background: #374a5b; width: 40px; height: 40px; line-height: 41px; text-align: center; border-radius: 50%; font-size: .7em;
    font-weight: bold; color: #ffffff;"> 2 </span> Je souhaite me géolocaliser
        </h3>
        <div class="form-group">
            <a id="localize" name="obs_button" class="btn btn-info">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Me localiser
            </a>
        </div>

        {{ form_row(observationForm.latitude, {'attr': {'readonly': 'true'}}) }}
        {{ form_row(observationForm.longitude, {'attr': {'readonly': 'true'}}) }}



        <div class="form-group">
            <div id="map"></div>
        </div>

            {{ form_row(observationForm.departement, {'attr': {'readonly': 'true'}}) }}
            {{ form_row(observationForm.comment) }}

        <div class="count">
            <span id="countChars">0</span>
            caractères saisis
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check" aria-hidden="true"></i> Envoyer mon observation
        </button>
        {{ form_end(observationForm) }}
    </main>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv4cK5Ln6Z5EEtoY2gT4zf-J6rVgmnqtw&callback=initMap" async defer></script>
    <script src="{{ asset('assets/js/autocompleteDepartment.js') }}"></script>
    <script>
        $(function () {
            var countChars = 0;
            $('#observation_form_comment').keyup(function () {
                var countChars = $(this).val().length;
                $('#countChars').html(countChars);
            });
        });
    </script>
{% endblock %}

