{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% block stylesheets %}
    <style>
        .callout-info {
            color: #fff !important;
            background-color: #00c0ef !important;

            border-color: #0097bc;
        }
        .callout {
            border-radius: 3px;
            margin: 0 0 20px 0;
            padding: 15px 30px 15px 15px;
            border-left: 5px solid #eee;
        }
        .callout h4 {
            margin-top: 0;
            font-weight: 600;
        }
        .callout p:last-child {
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block body %}

    {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}

    <div class="col-sm-12 col-md-9">
        <div class="box box-default">
            <div class="box-header with-border"> <h3 class="box-title">SEO</h3> </div>
            <div class="box-body">
                <div id="seo_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% if pagesSeo is defined and pagesSeo|length > 0 %}
                                <table id="seo" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="seo_info">
                                    <thead>
                                    <tr role="row">
                                        <th>Id</th>
                                        <th>Page</th>
                                        <th>Route</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for page in pagesSeo %}
                                        <tr role="row" class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                            <td> {{ page.id }} </td>
                                            <td> {{ page.page }} </td>
                                            <td> {{ page.route }} </td>
                                            <td>
                                                <a href="{{ path('seo_show', { 'id': page.id }) }}" class="btn btn-info btn-xs">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                                <a href="{{ path('seo_edit', { 'id': page.id }) }}" class="btn btn-warning btn-xs">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Page</th>
                                        <th>Route</th>
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            {% else %}
                                <div class="callout callout-info">
                                    <h4>Information !</h4>
                                    <p>Veuillez charger les routes SEO en lançant la commande console : <strong> php bin/console seo:load-routes </strong> </p>
                                </div>
                                <p> Pas de SEO </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('#seo').DataTable({
                "responsive": true,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "language": {
                    "processing":     "Traitement en cours...",
                    "search":         "Rechercher&nbsp;:",
                    "lengthMenu":    "Afficher _MENU_ &eacute;l&eacute;ments",
                    "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "infoPostFix":    "",
                    "loadingRecords": "Chargement en cours...",
                    "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "emptyTable":     "Aucune donnée disponible dans le tableau",
                    "paginate": {
                        "first":      "Premier",
                        "previous":   "Pr&eacute;c&eacute;dent",
                        "next":       "Suivant",
                        "last":       "Dernier"
                    },
                    "aria": {
                        "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        });
    </script>
{% endblock %}