{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}


{% block body %}

    <div id="admin-wrapper">

        {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}

        <div class="container index-seo-bundle">

            <h2>SEO</h2>

            {% if pagesSeo is defined and pagesSeo|length > 0 %}
                <div id="seo_wrapper" class="dataTables_wrapper form-inline dt-bootstrap table-responsive">
                    <table id="seo" class="table table-hover dataTable" role="grid" aria-describedby="seo_info">
                        <thead>
                        <tr role="row">
                            <th>Id</th>
                            <th>Page</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for page in pagesSeo %}
                            <tr role="row" class="{% if loop.index is odd %}odd{% else %}even{% endif %}">
                                <td> {{ page.id }} </td>
                                <td> {{ page.page }} </td>
                                <td>
                                    <a class="btn btn-info btn-xs" title="Voir la fiche SEO" href="{{ path('admin_seo_show', { 'id': page.id }) }}" >
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-warning btn-xs" title="Modifier la fiche SEO" href="{{ path('admin_seo_edit', { 'id': page.id }) }}" >
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a class="btn btn-success btn-xs" title="Voir la page" href="{{ path(page.route) }}" target="_blank">
                                        <i class="fa fa-share" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Page</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            {% else %}
                <div class="callout callout-info">
                    <h4>Information !</h4>
                    <p>Veuillez charger les routes SEO en lançant la commande console : <strong> php bin/console seo:load-routes </strong> </p>
                </div>
                <p>
                    <strong>Pas de SEO</strong>
                </p>
            {% endif %}

        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('#seo').DataTable({
                "responsive": false,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "language": {
                    "processing":     "Traitement en cours...",
                    "search":         "Rechercher&nbsp;:",
                    "lengthMenu":    "Afficher _MENU_ &eacute;l&eacute;ments",
                    "info":           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "infoEmpty":      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    "infoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "infoPostFix":    "",
                    "loadingRecords": "Chargement en cours...",
                    "zeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "emptyTable":     "Aucune donnée disponible dans le tableau",
                    "paginate": {
                        "first":      "Premier",
                        "previous":   "Pr&eacute;c&eacute;dent",
                        "next":       "Suivant",
                        "last":       "Dernier"
                    },
                    "aria": {
                        "sortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        });
    </script>
{% endblock %}