{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% block body %}

    <div class="container news-main-page">

    <h1 class="text-center">Actualités</h1>

        {% if articles is defined and articles|length > 0 %}
            {% for article in articles %}
                <div class="news-container clearfix">
                    <div class="news-title">
                        <h2>
                            <a href="{{ path('article_view',{'id': article.id, 'slug': article.slug}) }}">
                                {{ article.title }}
                            </a>
                        </h2>
                        <p class="created-at"> {{ article.createdAt|date('d/m/Y') }} </p>
                    </div>

                    {% if article.image is not null %}
                        <a class="news-image" href="{{ path('article_view',{'id': article.id, 'slug': article.slug}) }}">
                            <img src="{{ asset('uploads/img_article/' ~ article.image.url) | imagine_filter('my_thumb') }}" />
                        </a>
                    {% else %}
                        <i class="fa fa-picture-o fa-5x" aria-hidden="true" style="margin: 20px;"></i>
                    {% endif %}

                    <div class="news-paragraph">
                        <p> {{ article.content|truncate(300) }} </p>
                        <br>
                        <a class="btn btn-primary pull-right" href="{{ path('article_view',{'id': article.id, 'slug': article.slug}) }}"> Lire la suite </a>
                    </div>
                </div>
            {% endfor %}
            {% include 'NBGraphicsNewsBundle:pages:pagination.html.twig' %}
        {% else %}
            <p> Pas d'article(s). </p>
        {% endif %}

    </div>

{% endblock %}