{% extends "NBGraphicsAdminBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block header %}
    Profil
{% endblock %}

{% block menu %}
    {% include 'NBGraphicsAdminBundle:Account:menu.html.twig' %}
{% endblock %}

{% block body %}

    <div class="box box-default">
        {{ form_start(form, { 'action': path('account_profil_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        <div class="box-body">
            {{ form_widget(form) }}
        </div>
        <div class="box-footer">
            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-warning" />
        </div>
        {{ form_end(form) }}
    </div>

    <div class="actions">
        <a href="{{ path('account_profil') }}" class="btn btn-primary pull-left">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Retour à mon profil
        </a>
    </div>

{% endblock %}