{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block title %}{{ bird.taxref.nomVern }} - {{ bird.taxref.nomComplet }}{% endblock %}
{% block description %}{{ bird.comment }}{% endblock %}
{% block keywords %}oiseau, {{ bird.taxref.nomVern }}, maturité {{ bird.matureStage }}, plumage {{ bird.plumage }}, {% if bird.nidification > 0 %}nidification{% else %}pas de nidifcation{% endif %}, {{ bird.quantity }}{% endblock %}
{% block robots %}index{% endblock %}

{% block meta %}
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="{{ absolute_url(path('nbgraphics_frontsite_interactivewebmap_displaybirddetail',{'birdObs': bird.id})) }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Nos Amis les Oiseaux - {{ bird.taxref.nomVern }} - {{ bird.taxref.nomComplet }}" />
    <meta property="og:description"   content="{{ bird.comment }}" />
    {% if bird.image %}
        <meta property="og:image"     content="{{ absolute_url(asset('/uploads/img/'~ bird.image.url))}}" />
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <style>
    #btn-rs {
        text-align: center;
    }
    .btn-rs {
        display: inline-flex;
        vertical-align: top;
        padding: 0 2px;
    }
    </style>
{% endblock %}

{% block body %}

    <div class="container display-bird">

        <header class="display-bird-header">
            <h2>
                Observation sélectionnée :
                <strong>{{ bird.taxref.nomVern }}</strong>.
            </h2>

            <a class="btn btn-primary prev-step" href="{{ path('nb_graphics_front_site_interactivewebmap') }}">
                Revenir à la carte
            </a>
        </header>

        <div class="show-results">
            {% if bird.image %}
                <a
                        class="bird-anchor"
                        href="{{ asset('/uploads/img/'~ bird.image.url)}}"
                >
                    <img
                            class="bird-image"
                            src="{{ asset('/uploads/img/'~ bird.image.url) | imagine_filter('my_thumb') }}"
                            alt="Photographie de {{ bird.taxref.nomVern }}"
                    >
                </a>
            {% else %}
                <img src="{{ asset('images/400px-Image_manquante_2.svg.png')|imagine_filter('my_thumb') }}" alt="Image manquante">
            {% endif %}
            <div id="map"></div>
        </div>

        <hr>

        <div id="btn-rs">

            <div id="rs-fb" class="btn-rs">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                <div class="fb-share-button"
                     data-href="{{ absolute_url(path('nbgraphics_frontsite_interactivewebmap_displaybirddetail',{'birdObs': bird.id})) }}"
                     data-layout="button_count"
                     data-size="large"
                     data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('nbgraphics_frontsite_interactivewebmap_displaybirddetail',{'birdObs': bird.id}))|url_encode }}">Partager</a></div>

            </div>
            <div id="rs-tw" class="btn-rs">
                <script>window.twttr = (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                                t = window.twttr || {};
                        if (d.getElementById(id)) return t;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);

                        t._e = [];
                        t.ready = function(f) {
                            t._e.push(f);
                        };

                        return t;
                    }(document, "script", "twitter-wjs"));</script>

                <a class="twitter-share-button"
                   href="https://twitter.com/intent/tweet?text=Nos Amis les Oiseaux - Venez découvrir l'observation"
                   data-size="large">
                    Tweet</a>
            </div>

        </div>

        <hr />


        <div class="table-responsive">
        <table class="table table-hover">
            <caption>Résultat de l'observation n°{{ bird.id }}</caption>
            <thead>
                <tr>
                    <th>Champ</th>
                    <th>Observation de l'utilisateur</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Famille</td>
                    <td>{{ bird.taxref.famille }}</td>
                </tr>
                <tr>
                    <td>Nom vernaculaire</td>
                    <td>{{ bird.taxref.nomVern }}</td>
                </tr>
                <tr>
                    <td>Nom latin</td>
                    <td>{{ bird.taxref.nomValide }}</td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>{{ bird.quantity }}</td>
                </tr>
                <tr>
                    <td>Maturité</td>
                    <td>{{ bird.matureStage }}</td>
                </tr>
                <tr>
                    <td>Plumage</td>
                    <td>{{ bird.plumage }}</td>
                </tr>
                <tr>
                    <td>Nidification</td>
                    <td>
                      {% if bird.nidification < 0 %}
                        ne sais pas
                      {% elseif bird.nidification > 0 %}
                        oui
                      {% else %}
                          non
                      {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>{{ bird.dateAt|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <td>Heure</td>
                    <td>{{ bird.hourAt|date('H:i') }}</td>
                </tr>
                <tr>
                    <td>Remarques</td>
                    <td>{{ bird.comment|nl2br }}</td>
                </tr>
            </tbody>
        </table>
        </div>


    </div> <!-- End: display-bird Container -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        // Initialize The Google Map Element
        var initMap = function() {
            var myLatLng = {
                lat: {{ bird.latitude }},
                lng: {{ bird.longitude }}
            };
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                scrollwheel: false,
                zoom: 8,
                {% if is_granted('ROLE_ADMIN') %}
                maxZoom: 18,
                {% else %}
                maxZoom: 10
                {% endif %}
            });
            // Create the marker
            var marker = new google.maps.Marker({
                position: {
                    lat: {{ bird.latitude }},
                    lng: {{ bird.longitude }}
                },
                map: map,
                title: "Lieu de l'observation"
            });
        };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv4cK5Ln6Z5EEtoY2gT4zf-J6rVgmnqtw&callback=initMap" async defer></script>
    <script src="{{ asset('assets/js/displayBirdOverlay.js') }}"></script>
{% endblock %}