{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <h2>
        Bienvenue sur notre carte intéractive
    </h2>

    <section id="search">
    <h3>Rechercher un oiseau</h3>
    {{ form_start(searchForm, {'attr': {'class': '', 'role': 'form'}}) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}
    </section>

    {% if resultsPerBird %}
        <table class="table table-hover">
            <caption>Résultat(s) de votre recherche par nom d'oiseau :</caption>
            <thead>
                <tr>
                    <th>Observation n°</th>
                    <th>Famille de l'oiseau observé</th>
                    <th>Oiseau observé</th>
                    <th>Jour de l'observation</th>
                    <th>Département</th>
                    <th>Observation en détail</th>
                </tr>
            </thead>
            <tbody>
                {% for bird in resultsPerBird %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ bird.taxref.famille }}</td>
                    <td>{{ bird.taxref.nomValide }}</td>
                    <td>{{ bird.dateAt|date('d/m/Y') }}</td>
                    <td>{{ bird.departement }}</td>
                    <td><a href="#">Voir l'observation</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if resultsPerFamily %}
        <table class="table table-hover">
            <caption>Résultat(s) de votre recherche par famille d'oiseau</caption>
            <thead>
                <tr>
                    <th>Observation n°</th>
                    <th>Famille de l'oiseau observé</th>
                    <th>Oiseau observé</th>
                    <th>Jour de l'observation</th>
                    <th>Département</th>
                    <th>Observation en détail</th>
                </tr>
            </thead>
            <tbody>
            {% for bird in resultsPerFamily %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ bird.taxref.famille }}</td>
                    <td>{{ bird.taxref.nomValide }}</td>
                    <td>{{ bird.dateAt|date('d/m/Y') }}</td>
                    <td>{{ bird.departement }}</td>
                    <td><a href="#">Voir l'observation</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


{% endblock%}