{% extends '@NBGraphicsFrontSite/frontBaseElements.html.twig' %}

{% block body %}
    <h2>
        Bienvenue sur notre carte intéractive
    </h2>

    <section id="search">
    <h3>Rechercher un oiseau</h3>
    {{ form_start(searchForm, {'attr': {'class': '', 'role': 'form'}}) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}
    </section>

    {% if resultsPerBird %}
        <table class="table table-hover">
            <caption>Résultat(s) de votre recherche par nom d'oiseau :</caption>
            <thead>
                <tr>
                    <th>Observation n°</th>
                    <th>Famille de l'oiseau observé</th>
                    <th>Oiseau observé</th>
                    <th>Date de l'observation</th>
                    <th>Département</th>
                    <th>Observation en détail</th>
                </tr>
            </thead>
            <tbody>
                {% for bird in resultsPerBird %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ bird.taxref.famille }}</td>
                    <td>{{ bird.taxref.nomVern }}</td>
                    <td>{{ bird.dateAt|date('d/m/Y') }}</td>
                    <td>{{ bird.departement }}</td>
                    <td>
                        <a class="btn btn-default"
                           href="{{ path('nbgraphics_frontsite_interactivewebmap_displaybirddetail', {
                               'birdObs': bird.id
                           }) }}">
                            Voir l'observation
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        <h3>Affiner la carte intéractive</h3>
        {{ form_start(criteriaMapsForm) }}
        {{ form_widget(criteriaMapsForm) }}
        {{ form_end(criteriaMapsForm) }}

        <hr>
        <div class="form-group map-container">
            <div id="map"></div>
        </div>

    {% endif %}

    {% if resultsPerFamily %}
        <table class="table table-hover">
            <caption>Résultat(s) de votre recherche par famille d'oiseau</caption>
            <thead>
                <tr>
                    <th>Observation n°</th>
                    <th>Famille de l'oiseau observé</th>
                    <th>Oiseau observé</th>
                    <th>Date de l'observation</th>
                    <th>Département</th>
                    <th>Observation en détail</th>
                </tr>
            </thead>
            <tbody>
            {% for bird in resultsPerFamily %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ bird.taxref.famille }}</td>
                    <td>{{ bird.taxref.nomVern }}</td>
                    <td>{{ bird.dateAt|date('d/m/Y') }}</td>
                    <td>{{ bird.departement }}</td>
                    <td>
                        <a class="btn btn-default"
                           href="{{ path('nbgraphics_frontsite_interactivewebmap_displaybirddetail', {
                               'birdObs': bird.id
                           }) }}">
                            Voir l'observation
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr>
        <h3>Affiner la carte intéractive</h3>
        {{ form_start(criteriaMapsForm) }}
        {{ form_widget(criteriaMapsForm) }}
        {{ form_end(criteriaMapsForm) }}

        <hr>
        <div class="form-group map-container">
            <div id="map"></div>
        </div>
    {% endif %}

    <script>
        // Initialize The Google Map Element
        var initMap = function() {
            var myLatLng = {lat: 48.866667, lng: 2.333333};
            // Create a map object and specify the DOM element for display.
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                scrollwheel: false,
                zoom: 6,
                maxZoom: 6
            });
            {% if resultsPerBird %}
                {% for bird in resultsPerBird %}
                    // Create the markers
                    var marker{{ loop.index }} = new google.maps.Marker({
                        position: {
                            lat: {{ bird.latitude }},
                            lng: {{ bird.longitude }}
                        },
                        map: map,
                        title: "Voir l'observation"
                    });
                    // Create the strings
                    var contentString = '';
                        contentString += '<div id="content">';
                        contentString += '<p>';
                        contentString += 'Oiseau observé : {{ bird.taxref.nomVern }}';
                        contentString += '<br>';
                        contentString += 'Date de l\'observation : {{ bird.dateAt|date('d/m/Y') }}';
                        contentString += '</p>';
                        contentString += '<p>';
                        contentString += '<a class="btn btn-default" href="{{ path('nbgraphics_frontsite_interactivewebmap_displaybirddetail', {
                            'birdObs': bird.id
                        }) }}">';
                        contentString += 'Voir l\'observation';
                        contentString += '</a>';
                        contentString += '</p>';
                        contentString += '</div>';

                    // Creathe info windows
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    // Add click event
                    marker{{ loop.index }}.addListener('click', function() {
                        infowindow.open(map, marker{{ loop.index }});
                    });
                {% endfor %}
            {% elseif resultsPerFamily %}
                {% for bird in resultsPerFamily %}
                    var marker{{ loop.index }} = new google.maps.Marker({
                        position: {
                            lat: {{ bird.latitude }},
                            lng: {{ bird.longitude }}
                        },
                        map: map,
                        title: "Voir l'observation"
                    });
                    // Create the markers
                    var marker{{ loop.index }} = new google.maps.Marker({
                        position: {
                            lat: {{ bird.latitude }},
                            lng: {{ bird.longitude }}
                        },
                        map: map,
                        title: "Voir l'observation"
                    });
                    // Create the strings
                    var contentString = '';
                    contentString += '<div id="content">';
                    contentString += '<p>';
                    contentString += 'Oiseau observé : {{ bird.taxref.nomVern }}';
                    contentString += '<br>';
                    contentString += 'Date de l\'observation : {{ bird.dateAt|date('d/m/Y') }}';
                    contentString += '</p>';
                    contentString += '<p>';
                    contentString += '<a class="btn btn-default" href="{{ path('nbgraphics_frontsite_interactivewebmap_displaybirddetail', {
                        'birdObs': bird.id
                    }) }}">';
                    contentString += 'Voir l\'observation';
                    contentString += '</a>';
                    contentString += '</p>';
                    contentString += '</div>';

                    // Creathe info windows
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    // Add click event
                    marker{{ loop.index }}.addListener('click', function() {
                        infowindow.open(map, marker{{ loop.index }});
                    });
                {% endfor %}
            {% endif %}
        };

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv4cK5Ln6Z5EEtoY2gT4zf-J6rVgmnqtw&callback=initMap" async defer></script>
{% endblock%}