{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% block body %}

    <div id="admin-wrapper">

        {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}

        <div class="container index-back-end">

            <div class="info-group">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="info-box-container">
                        <a href="{{ path('admin_user_index') }}" class="aBox">
                                <div class="info-box">
                                    <span class="info-box-icon bg-carrot"><i class="fa fa-users"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Membres</span>
                                        <span class="info-box-number">{{ countUsers }}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                        </a>
                    </div>
                    <div class="info-box-container">
                        <a href="{{ path('admin_observation_index') }}" class="aBox">
                                <div class="info-box">
                                    <span class="info-box-icon bg-aqua"><i class="fa fa-camera"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Observations</span>
                                        <span class="info-box-number">{{ countObservations }}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                        </a>
                    </div>
                    <div class="info-box-container">
                        <a href="{{ path('admin_article_index') }}" class="aBox">
                                <div class="info-box">
                                    <span class="info-box-icon bg-turquoise"><i class="fa fa-file-text"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Actualités</span>
                                        <span class="info-box-number">{{ countArticles }}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                        </a>
                    </div>
                    <div class="info-box-container">
                        <div class="info-box">
                            <span class="info-box-icon bg-alizarin"><i class="fa fa-twitter"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Espèces</span>
                                <span class="info-box-number">{{ countTaxref }}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>

                <div class="col-sm-12">
                    <p class="description"> Retrouvez dans votre espace d'administration : </p>
                    <ul class="bird">
                        <li>Votre profil</li>
                        <li>La liste des membres</li>
                        <li>La liste des observations</li>
                        <li>La liste des actualités</li>
                        <li>La liste des inscrits à la newsletter</li>
                        <li>La liste SEO des pages de votre site</li>
                    </ul>
                    <hr />
                    <p class="description">
                        <a class="btn btn-primary" href="{{ path('nb_graphics_front_site_submitobservation') }}"> Participer à notre programme de recherche </a>
                    </p>
                </div>

                {% elseif is_granted('ROLE_ADMIN') %}
                    <div class="info-box-container">
                        <a href="{{ path('admin_observation_index') }}" class="aBox">

                                <div class="info-box">
                                    <span class="info-box-icon bg-aqua"><i class="fa fa-camera"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Observations</span>
                                        <span class="info-box-number">{{ countObservations }}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                        </a>
                    </div>
                    <div class="info-box-container">
                        <div class="info-box">
                            <span class="info-box-icon bg-alizarin"><i class="fa fa-twitter"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Espèces</span>
                                <span class="info-box-number">{{ countTaxref }}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <p class="description"> Retrouvez dans votre espace d'administration : </p>
                        <ul class="bird">
                            <li>Votre profil</li>
                            <li>La liste des observations</li>
                        </ul>
                        <hr />
                        <p class="description">
                            <a class="btn btn-primary" href="{{ path('nb_graphics_front_site_submitobservation') }}"> Participer à notre programme de recherche </a>
                        </p>
                    </div>

                {% elseif is_granted('ROLE_COLLABORATOR') %}

                    <div class="info-box-container">
                        <a href="{{ path('admin_article_index') }}" class="aBox">

                                <div class="info-box">
                                    <span class="info-box-icon bg-turquoise"><i class="fa fa-file-text"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Actualités</span>
                                        <span class="info-box-number">{{ countArticles }}</span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>

                        </a>
                    </div>

                    <div class="col-sm-12">
                        <p class="description"> Retrouvez dans votre espace collaborateur : </p>
                        <ul class="bird">
                            <li>Votre profil</li>
                            <li>La liste des actualités</li>
                        </ul>
                        <hr />
                        <p class="description">
                            <a class="btn btn-primary" href="{{ path('nb_graphics_front_site_submitobservation') }}"> Participer à notre programme de recherche </a>
                        </p>
                    </div>

                {% else %}

                <div class="info-box-container">
                    <a href="{{ path('admin_my_observation_index') }}" class="aBox">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-camera"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Observations</span>
                                <span class="info-box-number">{{ countMyObservations }}</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </a>
                </div>

                <div class="col-sm-12">
                    <p class="description"> Retrouvez dans votre espace mon compte : </p>
                    <ul class="bird">
                        <li>Votre profil</li>
                        <li>Vos observations</li>
                    </ul>
                    <hr />
                    <p class="description">
                        <a class="btn btn-primary" href="{{ path('nb_graphics_front_site_submitobservation') }}"> Participer à notre programme de recherche </a>
                    </p>
                </div>

            </div>
                {% endif %}

        </div>

    </div>

{% endblock %}