{% extends "NBGraphicsFrontSiteBundle::frontBaseElements.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    {% include 'NBGraphicsAdminBundle:Common:menu.html.twig' %}

    <div class="container show-user-admin">

        <h2>Fiche utilisateur</h2>


        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <th> {{ 'profile.show.type'|trans }} </th>
                    <td> {{ user.type }} </td>
                </tr>
                <tr>
                    <th> {{ 'profile.show.username'|trans }} </th>
                    <td> {{ user.username }} </td>
                </tr>
                <tr>
                    <th> {{ 'profile.show.email'|trans }} </th>
                    <td> {{ user.email }} </td>
                </tr>
                <tr>
                    <th> {{ 'profile.show.lastname'|trans }} </th>
                    <td> {{ user.lastname }} </td>
                </tr>
                <tr>
                    <th> {{ 'profile.show.firstname'|trans }} </th>
                    <td> {{ user.firstname }} </td>
                </tr>
                <tr>
                    <th> {{ 'profile.show.phone'|trans }} </th>
                    <td> {{ user.phone }} </td>
                </tr>
                <tr>
                    <th> {{ 'profile.show.autorisations'|trans }} </th>
                    <td>
                        {% if user.enableCampaigns %}
                            J'autorise Nos Amis les Oiseaux à utiliser mes coordonnées pour des campagnes marketing
                        {% else %}
                            Je n'autorise pas Nos Amis les Oiseaux à utiliser mes coordonnées pour des campagnes marketing
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="actions">
            <a class="btn btn-warning" href="{{ path('admin_user_edit',{ 'id': user.id }) }}">
                <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; Modifier
            </a>
        </div>

    </div>

{% endblock %}